.ejercicio5 {
  border: 3px solid black;
  width: 280px;
  height: 150px;
  background-color: rgb(136, 113, 85);
  font-size: 30px;
  position: relative;
}

.caja2 {
  background-color: rgb(150, 19, 19);
}
.caja3 {
  background-color: rgb(18, 18, 172);
}
.caja4 {
  background-color: green;
}
.caja1 {
  background-color: rgb(167, 167, 12);
}

.ejercicio5 .caja1 {
  display: inline-block;
  width: 200px;
  height: 40px;
  position: absolute;
  left: 40px;
  bottom: 25px;
}

.ejercicio5 .caja2 {
  display: inline-block;
  width: 200px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 25px;
}

.ejercicio5 .caja3 {
  display: inline-block;
  width: 40px;
  height: 120px;
  position: absolute;
  left: 70px;
  top: 15px;
}

.ejercicio5 .caja4 {
  display: inline-block;
  width: 40px;
  height: 120px;
  position: absolute;
  left: 170px;
  top: 15px;
}
