/* ---------------------------------------------------------- */
/* Ejemplo 1 */

ul.listado {
  width: 400px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.listado li {
  padding: 10px;
}

ul.listado li + li {
  border-top: 2px solid rgb(92, 91, 91);
}

ul.listado li a {
  text-decoration: none;
  color: black;
}

/* ---------------------------------------------------------- */
/* Ejemplo 2 */

ul.listado2 {
  width: 400px;
  border-radius: 10px;
  border: 2px solid rgb(92, 91, 91);
  list-style: none;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

ul.listado2 li + li {
  border-top: 2px solid rgb(92, 91, 91);
}

ul.listado2 li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 20px;
}

ul.listado2 li:hover,
ul.listado2 a:hover {
  background-color: #3579f6;
  color: white;
}

ul.listado2 li.active a {
  background-color: #3579f6;
  color: white;
}

/* ---------------------------------------------------------- */
/* Ejemplo 3 */

ul.listado3 {
  width: 400px;
  border-radius: 10px;
  border: 2px solid rgb(92, 91, 91);
  list-style: none;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

ul.listado3 li {
  position: relative;
}

ul.listado3 li:hover {
  background-color: #3579f6;
  color: white;
}

ul.listado3 li + li {
  border-top: 2px solid rgb(92, 91, 91);
}

ul.listado3 li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 2px;
}

ul.listado3 a span {
  background-color: #3579f6;
  padding: 3px 10px;
  border-radius: 30px;
  font-size: smaller;
  position: absolute;
  right: 10px;
  color: white;
}

ul.listado3 li:hover a span {
  background-color: white;
  color: #3579f6;
}

/* ---------------------------------------------------------- */
/* Ejemplo 4 */

ul.listado41 {
  width: fit-content;
  border: 2px solid rgb(92, 91, 91);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: url(icons/check-mark.png);
  padding-left: 30px;
}

ul.listado41 li {
  padding: 3px 10px;
}

ul.listado42 {
  width: fit-content;
  border: 2px solid rgb(92, 91, 91);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: url(icons/check-mark.png);
  padding-left: 30px;
}

ul.listado42 li {
  padding: 3px 10px;
}

ul.listado42 li:last-child {
  list-style: url(icons/alphabet.png);
}

/* ---------------------------------------------------------- */
/* Ejemplo 5*/

ul.listado5 {
  width: 300px;
  background-color: aliceblue;
  border: 2px solid rgb(92, 91, 91);
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bold;
  padding: 0;
}

ul.listado5 li {
  list-style-position: inside;
  padding-left: 15px;
}

ul.listado5 li:not(:last-child) {
  border-bottom: 2px solid rgb(92, 91, 91);
}

ul.listado5 li::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E")
    " ";
}

ul.listado5 li:nth-child(3n -1)::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E")
    " ";
}

/* ---------------------------------------------------------- */
/* Ejemplo 6*/

ul.listado6 {
  width: 300px;
  background-color: aliceblue;
  border: 2px solid rgb(92, 91, 91);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px;
  list-style: none;
  counter-reset: step-counter;
}

ul.listado6 li {
  list-style-position: inside;
  padding: 5px;
  padding-left: 15px;
}

ul.listado6 li:not(:last-child) {
  border-bottom: 2px solid rgb(92, 91, 91);
}

ul.listado6 li::before {
  counter-increment: step-counter;
  content: counter(step-counter);
  color: white;
  background-color: rgb(92, 91, 91);
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 15px;
  display: inline-block;
  margin-right: 5px;
}
