body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

section {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

section > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

section > ul li a {
  display: block;
  background-color: #56a4e0;
  color: white;
  padding: 25px 50px;
  font-weight: bold;
  text-decoration: none;
}
section > ul > li > a:hover {
  background-color: black;
}

ul.options {
  list-style: none;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
}

ul.options a {
  background-color: black;
}

section > ul > li:hover ul.options {
  visibility: visible;
  opacity: 1;
}

ul.options a:hover {
  background-color: #56a4e0;
}
