/* ---------------------------------------------------------- */
/* Ejemplo 1 */

ul.listado {
  width: 400px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.listado li {
  padding: 10px;
}

ul.listado li + li {
  border-top: 2px solid rgb(92, 91, 91);
}

ul.listado li a {
  text-decoration: none;
  color: black;
}

/* ---------------------------------------------------------- */
/* Ejemplo 2 */

ul.listado2 {
  width: 400px;
  border-radius: 10px;
  border: 2px solid rgb(92, 91, 91);
  list-style: none;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

ul.listado2 li + li {
  border-top: 2px solid rgb(92, 91, 91);
}

ul.listado2 li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 20px;
}

ul.listado2 li:hover,
ul.listado2 a:hover {
  background-color: #3579f6;
  color: white;
}

ul.listado2 li.active a {
  background-color: #3579f6;
  color: white;
}
/* ---------------------------------------------------------- */
/* Ejemplo 3 */

ul.listado3 {
  width: 400px;
  border-radius: 10px;
  border: 2px solid rgb(92, 91, 91);
  list-style: none;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

ul.listado3 li {
  position: relative;
}

ul.listado3 li:hover {
  background-color: #3579f6;
  color: white;
}

ul.listado3 li + li {
  border-top: 2px solid rgb(92, 91, 91);
}

ul.listado3 li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 2px;
}

ul.listado3 a span {
  background-color: #3579f6;
  padding: 3px 10px;
  border-radius: 30px;
  font-size: smaller;
  position: absolute;
  right: 10px;
  color: white;
}

ul.listado3 li:hover a span {
  background-color: white;
  color: #3579f6;
}