.grid {
  gap: 6px;
  width: 755px;
  height: 279px;
  border: 5px solid rgb(204, 204, 204);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
  box-sizing: border-box;

  grid-template-areas: 'header header header header'
  'main main . sidebar'
  'footer footer footer footer';
}

.grid div {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: white;
}

.header {
  grid-area: header;
  background-color: #FF8483;
}

.main {
    grid-area: main;
  background-color: #87F2F0;
}

.sidebar {
    grid-area: sidebar;
  background-color: #78CC92;
}

.footer {
    grid-area: footer;
  background-color: #8C7787;
}