.grid {
  gap: 6px;
  width: 755px;
  height: 279px;
  border: 5px solid rgb(204, 204, 204);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
  box-sizing: border-box;

  grid-template-areas: 'head head head head'
  'main main . sidebar'
  'footer footer footer footer';
}

.item {
  background-color: white;
}

.header {
  background-color: #FF8483;
}

.main {
  background-color: #87F2F0;
}

.sidebar {
  background-color: #78CC92;
}

.footer {
  background-color: #8C7787;
}