.grid {
  background-color: white;
  gap: 6px;
  width: 281px;
  height: 222px;
  padding: 3px;
  border: 5px solid rgb(204, 204, 204);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

.item {
  background-color: #D99BAC;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}