.caja1de {
  background-color: azure;
  width: 35px;
  height: 40px;
  margin: 1px;
}

.caja2de {
  background-color: azure;
  width: 35px;
  height: 50px;
  margin: 1px;
}

.caja3de {
  background-color: azure;
  width: 35px;
  height: 20px;
  margin: 1px;
}

.align-items {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  display: flex;
}


.align-items-end {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: end;
}

.align-items-center {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.caja1,
.caja2,
.caja3 {
  background-color: azure;
  width: 35px;
  margin: 1px;
}

.align-items-stretch {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: stretch;
}

.caja1de2 {
  background-color: azure;
  width: 35px;
  height: 40px;
  margin: 1px;
  padding-top: 20px;
  ;
}

.caja2de2 {
  background-color: azure;
  width: 35px;
  height: 50px;
  margin: 1px;
}

.caja3de2 {
  background-color: azure;
  width: 35px;
  height: 20px;
  margin: 1px;
  padding-top: 35px;
}

.align-items-baseline {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 90px;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: baseline;
}