.flex-basis {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  display: flex;
}

.flex-basis > * {
  background-color: azure;
  width: 35px;
  height: 20px;
  margin: 1px;
  flex-basis: 50px;
}

.flex-grow {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  display: flex;
}

.flex-grow > * {
  background-color: azure;
  width: 35px;
  height: 20px;
  margin: 1px;
  flex-basis: 50px;
}

.flex-grow .caja2 {
  background-color: azure;
  width: 35px;
  height: 20px;
  margin: 1px;
  flex-grow: 1;
}

.flex-shrink {
  background-color: rgb(72, 72, 173);
  width: 180px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  display: flex;
}

.flex-shrink > * {
  background-color: azure;
  width: 35px;
  height: 20px;
  margin: 1px;
  flex-basis: 50px;
}

.flex-shrink .caja2 {
  background-color: azure;
  width: 35px;
  height: 20px;
  margin: 1px;
  flex-basis: 40px;
  flex-shrink: 1;
}