.gap {
  background-color: rgb(72, 72, 173);
  width: 200px;
  height: auto;
  margin: 30px;
}

.caja1,
.caja2,
.caja3 {
  background-color: azure;
  width: 35px;
  height: 20px;
}

.gap,
.gap2,
.gap3, .gap4  {
  background-color: rgb(72, 72, 173);
  width: 200px;
  height: 100px;
  margin: 30px;
  margin-top: 0px;
  display: flex;
}

.gap2 {
  gap: 10px;
}

.gap3 {
  gap: 20px;
}

.gap4 {
  flex-wrap: wrap;
  gap: 30px 50px;
}
