.ejercicio {
  font-size: 150px;
  text-align: center;
  padding: 70px 40px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.uno {
  color: white;
  background-color: #6cfafc;
  text-shadow: 2px 4px 4px grey;
}

.dos {
  color: white;
  background-color: #fcd9df;
  text-shadow: 6px 6px 1px rgb(175, 174, 174);
}

.tres {
  color: white;
  background-color: #6cfafc;
  text-shadow: -10px 10px 1px #62e0e2, -20px 20px 1px #55c8c8, -30px 30px 1px #4fb8b7;
}

.cuatro {
  color: white;
  background-color: #fcd9df;
  text-shadow: 0px 5px 0px grey, 0px 25px 5px rgb(161, 161, 161);
}

.cinco {
  color: #202020;
  background-color: #363535;
  text-shadow: 1px 1px 3px grey;
}

.caja {
  font-size: 30px;
  text-align: center;
  padding: 50px 70px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}

.seis {
  color: #424242;
  background-color: #adbde9;
  filter: drop-shadow(0px 0px 10px rgb(228, 227, 227));
}

.siete {
  color: #424242;
  background-color: #adbde9;
  box-shadow: inset 0 0 20px rgb(228, 227, 227);
}

.ocho {
  color: #424242;
  background-color: #adbde9;
  box-shadow: 6px 6px 20px rgb(228, 227, 227);
}

.nueve {
  color: #424242;
  background-color: #adbde9;
  box-shadow: -6px -6px 20px rgb(228, 227, 227);
}

.diez {
  color: #424242;
  background-color: #adbde9;
  box-shadow: 20px 10px rgb(228, 227, 227);
}
