.ejercicio {
  font-size: 150px;
  text-align: center;
  padding: 70px 40px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.uno {
  color: white;
  background-color: #6cfafc;
  text-shadow: 2px 4px 4px grey;
}

.dos {
  color: white;
  background-color: #fff3cd;
  text-shadow: 6px 6px 1px rgb(175, 174, 174);
}

.tres {
  color: white;
  background-color: #6cfafc;
  text-shadow: -10px 10px 1px #62e0e2, -20px 20px 1px #55c8c8, -30px 30px 1px #4fb8b7;
}

.cuatro {
  color: white;
  background-color: #fff3cd;
  text-shadow: 0px 5px 0px grey, 0px 25px 5px rgb(161, 161, 161);
}

.cinco {
  color: #161616;
  background-color: #222222;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

.caja {
  font-size: 30px;
  text-align: center;
  padding: 50px 70px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  background-color: #ced7ef;
  color: grey;
}

.seis {
  filter: drop-shadow(0px 0px 10px rgb(228, 227, 227));
}

.siete {
  box-shadow: inset 0 0 20px rgb(179, 178, 178);
}

.ocho {
  box-shadow: 6px 6px 20px rgb(228, 227, 227);
}

.nueve {
  box-shadow: -6px -6px 20px rgb(228, 227, 227);
}

.diez {
  box-shadow: 20px 10px rgb(228, 227, 227);
}
