html {
  background-color: grey;
}

section.contenedor {
  background-color: rgb(68, 67, 67);
  padding: 10px;
}


.contenedor span:nth-of-type(2) {
  float: right;
}


div.fondo {
  background-color: white;
  min-height: 70vh;
  position: relative;
}

div.fondo .left, div.fondo .right {
  background-color: rgb(68, 67, 67);
  border: 3px dashed black;
  padding: 10px;
  width: 200px;
  height: 50px;
  top: 0;
}

div.fondo .right {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

div.fondo .center {
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
} 

div.fondo .footer {
  background-color: rgb(68, 67, 67);
  padding: 10px 0px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
