@use "variables" as *;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }
  @if $bp == tablethori {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }
  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }
}
