$roboto-font: "Roboto", sans-serif;

// colors

$primary-color: grey;
$secondary-color: red;

// responsive

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;