.container {
  background-color: white;
  width: 900px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  align-items: center;
  font-size: 37px;
}

.container > * {
  background-color: white;
  color: black;
  border: 3px solid black;
  width: 230px;
  height: 350px;
  border-radius: 4%;
}

.img-pica {
  max-width: 60px;
}

.img-picap {
  max-width: 20px;
}

.tres-picas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.trespica {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
}

.trespicabottom {
  grid-row: 3/4;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
  transform: rotate(180deg);
}

.tres-picas > .img-pica {
  justify-self: center;
  align-self: center;
}

.tres-picas > .img-pica:nth-of-type(1) {
  grid-row: 1/2;
  grid-column: 2/3;
}
.tres-picas > .img-pica:nth-of-type(2) {
  grid-row: 2/2;
  grid-column: 2/3;
}
.tres-picas > .img-pica:nth-of-type(3) {
  grid-row: 3/3;
  grid-column: 2/3;
  transform: rotate(180deg);
}

.cuatro-picas {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.cuatro-up,
.cuatro-bottom {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  grid-template-rows: 1fr 1fr;
}

.cuatropicas {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
}

.cuatro-up > img:first-of-type {
  grid-column: 2/3;
  align-self: end;
}
.cuatro-up > img:last-of-type {
  grid-column: 3/4;
  align-self: end;
  justify-self: end;
}

.cuatropicasbottom {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
  transform: rotate(180deg);
}

.cuatro-bottom > img:first-of-type {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self:start;
  transform: rotate(180deg);
}
.cuatro-bottom > img:last-of-type {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: start;
  justify-self: end;
  transform: rotate(180deg);
}

/* div div:first-child {
  background-color: rgb(107, 107, 107);
} */

/* div div:nth-child(2) {
  background-color: rgb(202, 102, 102);
} */
