.portada {
  background-color: #333334;
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 10px;
  margin-bottom: 20px;
  text-align: right;
}

.enlaces {
  display: flex;
  gap: 5px;
}
.enlaces img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}