.portada {
  background-color: #333334;
  color: white;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 10px;
  margin-bottom: 0;
  text-align: right;
}

.enlaces {
  display: flex;
  padding-top: 0;
  align-items: stretch;
}

.travel {
  flex: 1;
  background-color: #575758;
  min-width: 200px;
  padding: 5px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.enlaces article:nth-of-type(1) {
  background-color: #8CBBBA;
}
.enlaces article:nth-of-type(2) {
  background-color: #C1EAB8;
}
.enlaces article:nth-of-type(3) {
  background-color: #BECDE1;
}

.travel img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.travel h4 {
  text-align: center;
  font-size: 18px;
}

.travel p {
  text-align: justify;
}