.portada {
  background-color:#333334;
  color: white;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 15px;
  display: flex;
}

.enlaces {
  background-color: #CCCCCC ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.enlaces a {
  color:#333334 ;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}

.enlaces > div a:hover {
  color: rgb(31, 30, 30);
  background-color:#5e5e61 ;
}