.portada {
  background-color: #aee27a;
}

.cabecera {
  text-align: center;
}
.icon {
  max-width: 40px;
}

.web-name {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(102, 102, 102);
  display: inline-block;
  margin-bottom: 1px;
}

.enlaces {
  background-color: #75a549;
  padding: 5px;
}

.enlaces a {
  color: white;
  border-right: 2px solid white;
  padding-right: 5px;
}

.img-cabecera {
  height: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: 30% 40%;
}

.alojamientos {
  padding: 10px;
  border-radius: 20px 0;
  margin-bottom: 25px;
}

.alojamientos:first-child {
  border: 3px solid #6d6754;
  background-color: #b9ad86;
}

.alojamientos:nth-of-type(2) {
  border: 3px solid #596b49;
  background-color: #8fad75;
}

.alojamientos:nth-of-type(3) {
  border: 3px solid #146296;
  background-color: #92a4b1;
}

.titles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}

.opiniones {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  background-color: #cccccc;
  border-top: 5px solid #3f3f3f;
  border-bottom: 5px solid #3f3f3f;
  padding: 20px 15px;
  background-image: url(icons/star.svg), url(icons/star.svg), url(icons/star.svg), url(icons/star.svg), url(icons/star.svg),
    url(icons/star.svg), url(icons/star.svg), url(icons/star.svg), url(icons/star.svg);
  background-repeat: no-repeat;
  background-position: 75px 79%, 105px 79%, 135px 79%, 165px 79%, 75px 41%, 105px 41%, 135px 41%, 165px 41%, 195px 41%;
  background-size: 25px, 25px, 25px, 25px, 25px, 25px, 25px, 25px, 25px;
}

.opiniones h4 {
  margin: 10px 0;
  text-transform: uppercase;
}

.opiniones img {
  max-width: 70px;
}
