.container {
  background-image:url(./img/topography.svg), linear-gradient(to right, rgba(217, 77, 112, 1) 0%, rgba(129, 74, 188, 1) 100%);
  width: 700px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  gap: 10px;
}

.container div {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6c844;
  border: 5px solid rgba(0, 0, 0,.1);
}

div:nth-of-type(8) {
  grid-row: 1/2;
  grid-column: 7/9;
  background-color: #ed6d52;
}

div:nth-of-type(9) {
  grid-row: 1/3;
  grid-column: 9/10;
  background-color: #aff8a2;
}

div:nth-of-type(6) {
  grid-row: 2/3;
  grid-column: 1/7;
  background-color: #6f94e6;
}

div:nth-of-type(12) {
  grid-row: 3/4;
  grid-column: 1/7;
  background-color: #6f94e6;
}

div:nth-of-type(16) {
  grid-row: 3/4;
  grid-column: 8/10;
  background-color: #ed6d52;
}

div:nth-of-type(18) {
  grid-row: 4/6;
  grid-column: 5/11;
  background-color: #a5cc4f;
}

div:nth-of-type(24) {
  grid-row: 5/6;
  grid-column: 2/4;
  background-color: #ed6d52;
}

div:nth-of-type(27) {
  grid-row: 6/8;
  grid-column: 2/3;
  background-color: #aff8a2;
}

div:nth-of-type(30) {
  grid-row: 6/7;
  grid-column: 5/11;
  background-color: #6f94e6;
}

div:nth-of-type(32) {
  grid-row: 7/8;
  grid-column: 3/5;
  background-color: #ed6d52;
}
