@use "abstracts/abstracts" as a;
@use "vendors/vendors";
@use "base/base";
@use "components/components";
@use "layout/layout";

body {
  background-color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  @include a.breakpoint(tablet) {
    div.header {
      height: 60px;
    }
    div.main {
      height: 600px;
    }
    div.footer {
      height: 700px;
    }
  }

  @include a.breakpoint(tablethori) {
    display: grid;
    min-height: 100vh;

    padding: 0 50px;

    grid-template-areas:
      "h h"
      "header main"
      "header footer";

    grid-template-columns: 30% 1fr;
    grid-template-rows: auto 1fr 1fr;

    div.header,
    div.main,
    div.footer {
      height: auto;
    }
  }

  @include a.breakpoint(desktop) {
    padding: 0 100px;
  }
}

h1 {
  color: black;
  background-color: grey;
  grid-area: h;
}

div.header {
  background-color: rgb(250, 63, 63);
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-area: header;
}

div.main {
  background-color: rgb(204, 2, 2);
  height: 800px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-area: main;
}

div.footer {
  background-color: rgb(248, 115, 115);
  height: 1000px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-area: footer;
}
