@use "abstracts/abstracts" as a;
@use "vendors/vendors";
@use "base/base";
@use "components/components";
@use "layout/layout";

body {
  background-color: gray;
}

h1 {
  color: black;
  margin-bottom: 20px;
}

div.header {
  background-color: rgb(250, 63, 63);
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  /*
  @include a.breakpoint(tablet) {
    background-color: green;
  }
  @include a.breakpoint(tablethori) {
    background-color: goldenrod;
  }
  @include a.breakpoint(desktop) {
    background-color: blue;
  }
  @include a.breakpoint(desktopxl) {
    background-color: blueviolet;
  }*/
}

div.main {
  background-color: rgb(204, 2, 2);
  height: 800px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

div.footer {
  background-color: rgb(248, 115, 115);
  height: 1000px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
