@use "abstracts/abstracts" as a;
@use "vendors/vendors";
@use "base/base";
@use "components/components";
@use "layout/layout";

body {
  background-color: gray;

  @include a.breakpoint(tablet) {
    div.header {
      height: 60px;
    }
    div.main {
      height: 600px;
    }
    div.footer {
      height: 700px;
    }
  }

  @include a.breakpoint(tablethori) {
    display: grid;
    grid-template-areas:
      "h h"
      "header main"
      "header footer";
    grid-template-columns: 30% auto;
    grid-template-rows: auto 1fr 1fr;
    div.header {
      height: 100%;
    }
    div.main {
      height: 50%;
    }
    div.footer {
      height: 50%;
    }
  }

  /*
  @include a.breakpoint(tablethori) {
    background-color: goldenrod;
    }
    @include a.breakpoint(desktop) {
      background-color: blue;
      }
      @include a.breakpoint(desktopxl) {
        background-color: blueviolet;
        }*/
}

h1 {
  color: black;
  margin-bottom: 20px;
  grid-area: h;
}

div.header {
  background-color: rgb(250, 63, 63);
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-area: header;
}

div.main {
  background-color: rgb(204, 2, 2);
  height: 800px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-area: main;
}

div.footer {
  background-color: rgb(248, 115, 115);
  height: 1000px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-area: footer;
}
