.content {
  border: 3px solid rgb(187, 11, 11);
  min-width: 100%;
  height: 300px;
  color: white;
}

.numeros {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: baseline;
}

.numeros li {
  text-align: center;
}

.numeros li:nth-of-type(1) {
  background-color: #58b99d;
  font-size: 16px;
}

.numeros li:nth-of-type(2) {
  background-color: #5296d5;
  font-size: 26px;
}

.numeros li:nth-of-type(3) {
  background-color: #925cb1;
  font-size: 36px;
}

.numeros li:nth-of-type(4) {
  background-color: #38485c;
  font-size: 46px;
}

.numeros li:nth-of-type(5) {
  background-color: #eac645;
  font-size: 10px;
}

.numeros li:nth-of-type(6) {
  background-color: #d8833b;
  font-size: 26px;
}

.numeros li:nth-of-type(7) {
  background-color: rgb(192, 9, 9);
  font-size: 26px;
}

.numeros li:nth-of-type(8) {
  background-color: rgb(99, 98, 98);
  font-size: 26px;
}

.numeros li:nth-of-type(9) {
  background-color: green;
  font-size: 26px;
}

.numeros li:nth-of-type(10) {
  background-color: rgb(11, 99, 11);
  font-size: 20px;
}
