.content {
  border: 3px solid rgb(187, 11, 11);
  min-width: 100%;
  height: 300px;
  color: white;
  font-size: 40px;
}

.numeros {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  justify-content: center;
}

.numeros li {
  text-align: center;
  flex:0 0 33.33%;
}

.numeros li:nth-of-type(1) {
  background-color: #58b99d;
}

.numeros li:nth-of-type(2) {
  background-color: #5296d5;
}

.numeros li:nth-of-type(3) {
  background-color: #925cb1;
}

.numeros li:nth-of-type(4) {
  background-color: #38485c;
}

.numeros li:nth-of-type(5) {
  background-color: #eac645;
}

.numeros li:nth-of-type(6) {
  background-color: #d8833b;
}

.numeros li:nth-of-type(7) {
  background-color: rgb(192, 9, 9);
}

.numeros li:nth-of-type(8) {
  background-color: rgb(99, 98, 98);
}

.numeros li:nth-of-type(9) {
  background-color: green;
}

.numeros li:nth-of-type(10) {
  background-color: rgb(11, 99, 11);
}
