p{
  width: 50vw;
  color: red;
  background-color: black;
}
article{
  height: 30vh;
  color: rgb(114 85 110);
  background-color: rgb(175 164 112)

}
div{
  width: 50%;
  color: #0000ff;
  background-color: #ffa500
;
}